
{% extends "portfolio/base/base.html" %}

{% load static wagtailcore_tags wagtailimages_tags blogapp_tags el_pagination_tags wagtailmd menu_tags wagtailroutablepage_tags%}

{% block title %}{{ self.title }} | {{ blog_page.title }}{% endblock title %}
{% block meta_title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock meta_title %}
{% block meta_description %}{% if self.search_description %}{{ self.search_description }}{% else %}{{ self.body|striptags|truncatewords:20 }}{% endif %}{% endblock meta_description %}


				{% block mainmenu %}
	            	{% main_menu template="menu/article_menu.html" %}
	            {% endblock %}

				{% block mobilemenu %}
	        		{% main_menu template="menu/article_menu.html" %}
	        	{% endblock %}

{% block maincontent %}
    
   

    {% paginate 9 posts %}

	<!--Header-->    
    <header class="background blog-header" style="background-image: url(assets/img/img_bg_main.jpg)">
    </header>
    <!--Header-->

    <!--Article-->
    <div class="container section"> 
        <div class="article">
            <div class="row">
                <div class="col-md-12">
                
                <div class="row">
		            <div class="col-md-12">
		            
		            	 {% if search_term %}
						      <header class="page-header">
						          <h3 class="page-title" style="color: #ce93d8">Showing results for <span>{{ search_type }}: {{ search_term }}</span></h3><br>
						      </header>
						 {% endif %}
		            
		                <h2  id="other_posts" class="section__title" style="float: left;">Article's_ </h2>
		                <!-- Search form -->
		                <form role="search" method="get" class="form-search" action="{% routablepageurl blog_page "post_search" %}" method="get">
						<div class="col-md-4 active-purple-4 mb-4" style="float: right">
					  	<input class="form-control" type="text" name="q" placeholder="Search" aria-label="Search">
						</div>
						</form>
		                
		            </div>
		        </div>
                
                    <div class="row posts">
			            {% for post in posts %}
			            <div class="col-md-4 ">
			                <div class="posts__item">
			                 	{% if post.header_image %}
			            		{% image post.header_image original as header_image %}
						            <a href="{% post_date_url post blog_page %}">
						              <img src="{{ header_image.url }}" class="card-img-top" ></img>
						            </a>
			        			{% endif %}
			                    <a href="{% post_date_url post blog_page %}">
			                    	
			                        <h3 class="posts__title" style="margin-top: 10px" >{{ post.title }}</h3>
			                        <h3 class="posts__title" >{{ post.date|date:"M d, Y" }}</h3>
			                        <p class="posts__description">
			                        {% if post.excerpt %}
						                {{ post.excerpt|safe|truncatewords_html:10 }}
						            {% else %}
						                {{ post.body|safe|truncatewords_html:10 }}
						            {% endif %}
			                        </p>
			                    </a>
			                </div>
			            </div>
			            {% endfor %}
			        </div>
			        
			        	
			        
                </div>
            </div>
        </div>
    </div>
    <!--Article-->

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
      {% show_pages %}
    </ul>
    <div class="col-md-12">
    <section>
	{% categories_list %}
	<br>
    {% tags_list %}
	<br>
	</section>
	</div>
{% endblock %}