{% extends "portfolio/base/base.html" %}

{% load static wagtailcore_tags  wagtailimages_tags el_pagination_tags menu_tags %}


{% block mainmenu %}
{% endblock %}

{% block mobilemenu %}
{% endblock %}

{% block maincontent %}
    <!--Contact-->
    <div class="background" style="">
        <div id="contact" class="container section">
            <div class="row">
                <div class="col-md-12">
                <br>
                <br>
                    <p id="contacts_header" class="section__title">Thankfull_</p>
                </div>
            </div>
            <div class="row contacts">
                <div class="col-md-5 col-lg-4">
                    
                </div>
                <div class="col-md-7 col-lg-5">
                    <div class="contacts__form">


                    </div>
                    <div class="footer">
                        <h2>{{ page.thank_you_text | richtext }}</h2>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    
    {% block footer %}
    {%endblock%}
    <!--Contact-->
{% endblock %}
