{% extends "portfolio/base/base.html" %}
{% load static wagtailcore_tags widget_tweaks menu_tags %}

				{% block mainmenu %}
	            	{% main_menu template="menu/article_menu.html" %}
	            {% endblock %}

				{% block mobilemenu %}
	        		{% main_menu template="menu/article_menu.html" %}
	        	{% endblock %}


{% block maincontent %}
    <!--Contact-->
    <div class="background" style="background-image: url(assets/img/img_bg_main.jpg)">
        <div id="contact" class="container section">
            <div class="row">
                <div class="col-md-12">
                <br>
                <br>
                    <p id="contacts_header" class="section__title">Get in touch_</p>
                </div>
            </div>
            <div class="row contacts">
                <div class="col-md-5 col-lg-4">
                    <div class="contacts__list">
                        <dl class="contact-list">
                            <dt>Phone:</dt>
                            <dd><a href="tel:9988776655">+91 9988776655</a></dd>
                            <dt>Skype:</dt>
                            <dd><a href="skype:9988776655">+91 9988776655</a></dd>
                            <dt>Email:</dt>
                            <dd><a href="mailto:portfolio@mail.com">portfolio@mail.com</a></dd>
                        </dl>
                    </div>
                    <div class="contacts__social">
                        <ul>
                            
                            <li><a href="#">Linkedin</a> www.linkedin.com/in/portfolio</li>
                            <li><a href="#">GitHub</a> &nbsp;github.com/portfolio</li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-md-7 col-lg-5">
                    <div class="contacts__form">

						<form action="{% pageurl page %}" method="POST">
						    {% csrf_token %}
						
						    {% if form.non_field_errors %}
						      <div class="alert alert-danger" role="alert">
						        {% for error in form.non_field_errors %}
						          {{ error }}
						        {% endfor %}
						      </div>
						    {% endif %}

                            
    						{% for field in form.visible_fields %}                        
                            <div class="form-group">
                                    {{ field.label_tag }}
                                {% render_field field class+="form-field js-field-name"  %}
                                <span class="form-validation"></span>
                                <span class="form-invalid-icon"><i class="mdi mdi-close" aria-hidden="true"></i></span>
                            </div>
                            {% endfor %}
                            
                            <button class="site-btn site-btn--form" type="submit" value="Send">Send</button>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!--Contact-->

{% endblock %}
